main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}

section h2 {
    position: absolute;
    margin-left: 12rem;
    transform: translateX(-40%);
}

main h2{
    font-family: "Poppins",sans-serif;
    font-size: 1.2rem;
}
main img{
    margin-left: 2rem;
    width: 4rem;
    height: 4rem;
    margin: 2rem;
}

.retangulo{
    display: flex;
    background-color: #b2e5c3;
    flex-direction: row;
    align-items: center;
    width: 90%;
    min-width: 80px;
    min-height: 80px;
    border: 0.1rem solid black;
    margin: 0.5rem;
} 